.form {
  padding: 0;
  .viewImage {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }
  .boxUrlImg {
    background-color: aliceblue;
    padding: 1rem;
    overflow: auto;
    border-radius: 8px;
  }
  .groupAction {
    padding: 1rem 0;
  }
}
