@import '@assets/styles/mixinx';

.upload {
  .inputFile {
    display: none;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
    box-shadow: 0 3px 6px #3b404533;
    .view {
      width: 200px;
      height: 200px;
      display: flex;
      gap: 1rem;
      position: relative;
      overflow: hidden;

      .iconLoading {
        margin: auto;
      }
      img {
        width: -webkit-fill-available;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
      }
      .note {
        position: absolute;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .title {
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
        }
        .error {
          font-style: italic;
          font-size: 12px;
          color: orangered;
        }
      }
    }
    .btnDelete {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.5rem;
    }
  }
}
