.MDWrap {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: auto;
}

.alignItemCenter {
  align-items: center;
}

.right {
  justify-content: flex-end;
  align-items: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  align-items: unset;
}

.invade {
  padding: 0 1rem;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.between {
  justify-content: space-between;
}
