.containerHome {
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  max-width: 100%;
  min-height: calc(100vh);

  .row {
    .colSiderbar {
      max-width: 300px;
    }

    // .colContain {}
  }
}
