.wrapperSetting {
  position: absolute;
  bottom: 15px;
  left: 10px;
  z-index: 99;
  .box {
    margin: 0.5rem 0;
    background: white;
    top: auto;
    bottom: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px #3b404533;

    .listSetting {
      list-style: circle;
      display: flex;
      display: flex;
      flex-direction: column;

      width: 100%;
      .item {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
