.images {
  padding: 0;
  blockquote {
    border-radius: 3px;
  }
  .content {
    .collapse {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .folder {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
        padding: 5px;
        border-radius: 3px;
        width: fit-content;
        text-transform: uppercase;
        border-bottom: 1px solid;
        p {
          letter-spacing: 1px;
          font-weight: 600;
        }
      }

      .list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
        .card {
          transition: all 235ms ease-in-out;
          &:hover {
            box-shadow: 0 3px 6px #3b404533;
            transform: translate3d(0, 2px, 0);
          }
          cursor: pointer;
          width: calc(100% / 4 - 0.75rem);
          max-width: inherit;
          @media (max-width: 1025px) {
            width: calc(100% / 3 - 0.675rem);
          }
          @media (max-width: 769px) {
            width: calc(100% / 2 - 0.5rem);
          }
          @media (max-width: 475px) {
            width: calc(100% / 2 - 0.5rem);
          }
          display: flex;
          flex-direction: column;

          border-radius: 5px;
          padding: 5px;
          position: relative;
          border: 1px solid #b7d5f8;
          .cardView {
            border-radius: 5px;
            height: 190px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            img {
              object-fit: cover;
              object-position: top;
              border-radius: 5px;
              height: 100%;
              width: 100%;
            }
          }
          .cardBody {
            position: absolute;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            padding: 10px;
            width: 100%;
            .name {
              width: 100%;
              white-space: break-spaces;
              word-wrap: break-word;
              background-color: orangered;
              padding: 5px 8px;
              border-radius: 5px;
              box-shadow: 0 3px 6px #3b404533;
              color: white;
              font-size: 12px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
