.MDButton {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 8px;
  border-radius: 6px;
  color: #3d4c63;
  font-size: 0.8125rem;
  min-width: 120px;
  border: unset;
  transition: all 235ms ease-in-out;
  width: fit-content;
  .value {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
  }

  &:disabled {
    background-color: lightgray;
    color: white;
    cursor: not-allowed;
  }
}

.reasonable {
  min-width: unset;
  padding: 8px 16px;
}
.shadown {
  box-shadow: 0 3px 6px #3b404533;
}
.hug {
  min-width: unset;
  padding: 5px;
}

.border {
  border: 0.5px solid #d8e0ea;
}
