.overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.flatModal {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  .modal {
    @media (max-width: 579px) {
      width: calc(100% - 2rem);
    }
    opacity: 1;
    margin: 2rem 0;
    position: fixed;
    width: 80%;
    max-height: calc(90vh - 2rem);
    overflow: scroll;
    z-index: 1040;
    top: 10%;
    left: 50%;
    transform: translate(-50%, calc(-10% - 1rem));
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 12px 34px 6px rgb(104 112 118 / 0.18);
    padding: 1rem;
    animation-name: identifier;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    .content {
      position: relative;
    }
  }
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes identifier {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.45;
  }
  80% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
