@import '@assets/styles/_mixinx';

.BlockPageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    .icons {
      display: flex;
      border-radius: 30% 40% 50% 60%;
      background: #23d7d7;
      padding: 0.5rem;
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }

  .groupAction {
    display: flex;
    gap: 1rem;
    .btn {
      // min-width: unset;
      box-shadow: unset;
      font-size: 12px;
      padding: 8px;
      background: #eaf5ff;
    }
    .btnRefresh {
      .isRefresh {
        @include rotating();
        animation: rotating 2s linear infinite;
      }
    }
  }

  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
