.TableStandard {
  overflow: auto;
  .table {
    // box-shadow: 0 3px 6px #3b404533;
    min-width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    border-spacing: 0 1rem;

    td {
      &:first-child,
      &:nth-last-child(2) {
        min-width: unset;
      }

      &:first-child {
        max-width: 80px;
      }

      min-width: 120px;
    }

    .thead {
      .row {
        padding: 1rem;
        background: #f5f5f5;
        border-collapse: separate;
        .cell {
          cursor: default;
          background: #f5f5f5;
          color: #7e868c;
          font-size: 0.75rem;
          text-align: left;
          position: relative;
          padding: 1rem;
          text-transform: uppercase;
          &:first-child {
            border-radius: 0.5rem 0 0 0.5rem;
          }
          &:last-child {
            border-radius: 0 0.5rem 0.5rem 0;
          }
        }
      }
    }

    .tbody {
      width: 100%;
      .row {
        &:hover {
          background: #f1f3f5;
        }
        .cell {
          padding: 1rem;
          &:first-child {
            border-radius: 0.5rem 0 0 0.5rem;
          }
          &:last-child {
            border-radius: 0 0.5rem 0.5rem 0;
          }
          .publish,
          .draft {
            padding: 0.2rem 1rem;
            border-radius: 5px;
            background-color: #eaf5ff;
            color: rgb(12, 117, 175);
            display: flex;
            max-width: 80px;
            font-size: 12px;
          }
          .publish {
            background: rgb(234, 251, 231);
            color: rgb(50, 128, 72);
          }

          .value {
            display: -webkit-box;
            overflow-y: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .groupIcon {
            .icon {
              padding: 8px;
              border-radius: 50%;
              transition: all 535ms ease-in-out;
              display: flex;
              &:hover {
                background: #add8e642;
              }
            }
            .iconDel {
              &:hover {
                background: #f0808042;
              }
            }
          }
        }
      }
    }
  }
}
