.SiderbarMobile {
  position: absolute;
  z-index: 9999;
  width: calc(100% - 2rem);
  background: #607d8b;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 2rem 1rem;
  transition: all 235ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  @media (min-width: 575px) {
    display: none;
  }
}

.widen {
  display: none;
}
