.ModalGroupAction {
  padding: 1rem 0;
  margin: 1rem 0;

  .btnClose {
    background: lightgray;
    color: white;
  }
  .btnDelele {
    background: lightsalmon;
    color: white;
  }
  .btnOke {
    background: lightgreen;
    color: white;
  }
}
