.navbar {
  padding: 5px 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  height: 60px;
  .branch {
    display: flex;
    align-items: center;
    gap: 1rem;
    .menu {
      display: none;
    }
    .welcome {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      // font-weight: 500;
      color: lightcoral;
    }
  }
  .btnLog {
    min-width: auto;
  }
}

@media (max-width: 545px) {
  .navbar {
    .branch {
      .menu {
        display: flex;
      }
    }
  }
}
