@mixin state() {
  .state {
    padding: 0 5px;
    background-color: lightgreen;
    border-radius: 0.2rem;
    color: white;
    font-size: 12px;
  }
  .draft {
    background-color: gray;
  }
}

.wrapDropdownList {
  width: 100%;
  position: relative;

  .isFocus {
    border-color: #3caaaa !important;
  }

  .wrapImpact {
    .btnImpact {
      justify-content: space-between;
      position: relative;
      border: 1px solid;
      border-color: #dfdfdf;
      border-radius: 8px;
      background-color: white;
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 100%;
      padding: 5px 15px;
      gap: 0.5rem;

      .labelImpact {
        font-size: 14px;
        color: #586983;
        display: flex;
        align-items: center;
      }

      .iconToggleImpact {
        display: flex;
        align-items: center;
      }
    }
  }
  .wrapContent {
    margin-top: 5px;
    margin-bottom: 1rem;
    position: absolute;
    z-index: 10;
    min-width: 100%;
    width: max-content;
    border-radius: 5px;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.08), 0 10px 20px rgba(0, 0, 0, 0.2);
    background: #f8f8fa;

    .NotFound {
      padding: 1rem;
      text-align: center;
      color: orangered;
      font-style: italic;
      font-size: 12px;
      background-color: white;
    }

    .boxSearch {
      background: #f8f8fa;
      padding: 10px;
      border-radius: 8px;

      .searchControl {
        &:visited,
        &:focus,
        &:hover {
          border-color: #3caaaa !important;
        }

        padding: 5px 8px;
        border: 1px solid #d8e0ea;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: white;

        .inputSearch {
          width: 100%;
          border: none;
          outline: none;
          padding: 5px 8px;
          font-size: 13px;
          background: transparent;
        }
      }
    }

    .content {
      overflow: auto;
      max-height: 200px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: white;
      border-radius: 8px;

      .FilterNotFound {
        font-size: 13px;
      }

      .itemList {
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 5px 8px;
        text-align: left;
        background: unset;
        color: #3d4c63;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include state();

        &:hover {
          background: #f0fafa;
          color: #3caaaa;
          letter-spacing: 0.001em;
        }
      }
    }
  }

  .boxMultiselectd {
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    border: 1px solid gainsboro;

    .itemSeleted {
      box-shadow: 0 3px 6px #3b404533;

      padding: 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      justify-content: space-between;
      font-size: 12px;
      .content {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        .txt {
          margin-bottom: 0;
          overflow: scroll;
          color: rgb(73, 69, 255);
          font-size: 12px;
        }

        @include state();
      }

      &:hover,
      &:focus {
        .mainElement {
          height: 20px;
          transition: all 535ms ease-in-out;
        }
      }

      .mainElement {
        width: 100%;
        gap: 0.3rem;
        font-size: 12px;
        font-style: italic;
        color: gray;
        height: 0;
        overflow: hidden;
        display: flex;
      }
      .isChecked {
        height: 20px;
      }
    }
  }
}
