.container {
  max-width: 1640px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.container_fluid {
  max-width: unset;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.container_fixed {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
}
