.MDSwitch {
  $dai: 40px;
  $nut: 12px;
  $pding: 4px;
  width: $dai;
  height: 20px;

  display: flex;
  position: relative;

  input {
    display: flex;
    position: relative;
    width: 100%;
    &:checked {
      + {
        .slider {
          background-color: #2196f3;

          &:before {
            transform: translateX(calc($dai - $nut - 2 * $pding));
          }
        }
      }
    }

    &:focus {
      + {
        .slider {
          box-shadow: 0 0 1px #2196f3;
        }
      }
    }
  }

  .slider {
    display: flex;
    align-items: center;
    padding: $pding;

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    transition: 0.4s;

    &:before {
      position: relative;
      content: '';
      height: $nut;
      width: $nut;

      top: 0;
      left: 0;
      background-color: white;
      transition: 0.4s;
    }
  }

  .slider,
  .round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

// .small {
//   $dai: 40px;
//   $nut: 12px;
//   $pding: 4px;

//   .slider {
//     // height: 15px;
//     // width: 15px;
//   }
// }
