.fullWidth {
  width: 100% !important;
}

.formControl {
  display: flex;
  width: 100%;
  flex-direction: column;
  float: left;

  .wrap {
    display: flex;
    flex-direction: column;
  }

  .hor {
    flex-direction: row;
    gap: 1rem;
  }

  .formLabel {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
  }
  .formInput {
    .input,
    textarea,
    input {
      padding: 8px 15px;
      display: flex;
      flex-direction: row;
      transition: all 235ms ease-in-out;
      font-size: 0.875rem;

      // box-shadow: 0 3px 6px #3b404533;
      border: 0;
      border-bottom: 1px solid #d8e0ea;
      border-radius: 0;

      outline: none;
      width: 100%;
      background: transparent;
      &::-webkit-input-placeholder {
        font-size: 12px;
      }
      &:-webkit-autofill,
      &:focus:-webkit-autofill,
      &:hover:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 100px #f8f8fa inset;
      }

      &:focus,
      &:hover {
        border-radius: 5px;
        box-shadow: 0 3px 6px #3b404533;
        outline: none;
        // outline-color: rebeccapurple;
        // outline-style: solid;
        // outline-width: 0.5px;
      }
    }
    textarea {
      // min-height: 120px;

      border: 1px solid #d8e0ea;
      border-radius: 5px;
      border-top: 0;
    }

    input[type='file']::file-selector-button {
      background-color: lightsalmon;
      font-weight: unset;
      letter-spacing: 1px;
      border: 0;
      padding: 10px 15px;
      margin-right: 20px;
      transition: 0.5s;
      border-radius: 3px;
      color: white;
    }

    input[type='file']::file-selector-button:hover {
      background-color: lightblue;
      border: 0;
      // border-right: 1px solid #e5e5e5;
    }
  }
  .formValid {
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
    min-height: 19px;

    .hiddenError {
      display: none;
    }

    .message {
      color: orangered;

      display: block;
      animation: fade_in_show 1s ease-in-out;
    }
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
