.LayoutAdmin {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  position: relative;
  border-radius: 0.5rem;
  .cover {
    background-color: black;
    width: 100%;
    max-width: 1924px;
    box-shadow: 0 3px 6px #3b404533;
    margin: 1rem;
    height: calc(100vh - 2rem);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    border-radius: 0.5rem;
    .containerHome {
      margin-top: 1rem;
      padding: 0;
      max-width: 100%;
      $h: calc(100vh - 76px - 4rem);

      min-height: $h;
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 0.5rem;
      .row {
        $height: calc(100vh - 76px - 4rem);
        display: flex;
        gap: 1rem;
        width: 100%;
        position: relative;

        .colContain {
          width: 100%;
          border-radius: 0.5rem;
          height: $height;
          overflow: scroll;
          background-color: white;
          padding: 2rem 1rem;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .LayoutAdmin {
    .cover {
      padding: 8px;
      margin: 0;
      min-height: 100vh;
      .containerHome {
        min-height: calc(100vh - 76px - 1rem);
        .row {
          .colContain {
            height: calc(100vh - 76px - 1rem);
            padding: 1rem;
          }
        }
      }
    }
  }
}
