.FormCKEditor {
  position: relative;
  .wrapperClassName {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #d8e0ea;
  }

  .toolbarClassName {
    border-radius: 0.5rem;
    padding: 6px;
  }

  .editorClassName {
    min-height: 350px;

    max-height: 500px;
  }

  .groupActionContent {
    margin-bottom: 1rem;
    gap: 0.5rem;
    .btn {
      border-radius: 5px;
      background: unset;
      border: 0.5px solid #d8e0ea;
      font-size: 12px;
      &:hover {
        box-shadow: 1px 1px 0 #bfbdbd;
      }
      &:active {
        box-shadow: 1px 1px 0 #bfbdbd inset;
      }
    }

    .activeEditor,
    .activeHtml {
      background-color: lightsteelblue;
      border-color: transparent;
      box-shadow: 1px 1px 0 #bfbdbd inset;
      color: white;
    }
  }

  .sectionHtml {
    border: 1px solid #d8e0ea;
    border-radius: 5px;
    border-top: 0;
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    transition: all 235ms ease-in-out;
    font-size: 0.875rem;
    outline: none;
    width: 100%;
    background: transparent;
    &:hover {
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(59, 64, 69, 0.2);
      outline: none;
    }
  }
}
