.ChoosePartnersPage {
  height: calc(100vh - 4rem);
  margin: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 3px 6px #3b404533;
  h2 {
    text-align: center;
    width: 100%;
  }

  .listPartner {
    // justify-content: space-between;
    .item {
      width: calc(100% / 3 - 1rem);
      display: flex;
      border-radius: 8px;
      padding: 1rem;
      background-color: white;
      box-shadow: 0 3px 6px #3b404533;

      transition: all 235ms ease-in-out;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
      }

      &:focus {
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
      }

      p {
        text-align: center;
        display: inline;
        width: 100%;
      }
    }
  }
}
