.colSiderbar {
  $height: calc(100vh - 76px - 4rem);
  width: 300px;
  background: white;
  border-radius: 0.5rem;
  height: $height;
  padding: 2rem 1rem;
  transition: all 235ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  .btnWiden {
    min-width: 0;
    margin: 0 auto;
    background-color: white;
    box-shadow: unset;
  }
}

.widen {
  width: fit-content;
  padding: 1rem 8px;
  transition: all 235ms ease-in-out;
}

@media (max-width: 545px) {
  .colSiderbar {
    display: none;
  }
}
