@import '@assets/styles/mixinx';

.UploadImages {
  @include bounce();

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  // background-color: rgb(244, 246, 248);
  padding: 0;
  max-width: 800px;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 1rem;
    position: relative;
    // border-radius: 8px;
    gap: 1rem;

    .groupNote {
      width: calc(40% - 0.5rem);
      height: 100%;

      .note {
        margin-bottom: 1rem;

        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .title {
          font-size: 18px;
          // font-weight: 500;
          margin-bottom: 10px;
          color: lightsteelblue;
        }

        .guide {
          letter-spacing: 1px;
          font-size: 14px;
          color: lightgray;
        }
        .updloadIcon {
          animation-delay: 2s;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          animation-duration: 1s;
          transform-origin: center bottom;
          animation-name: bounce;
        }
      }
      .groupAction {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        button {
          svg {
            width: 16px;
          }
        }
        .btnEdit {
          background: transparent;
        }
      }
    }

    .view {
      width: calc(60% - 0.5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 2200px;
      max-height: 220px;
      box-shadow: 0 3px 6px #3b404533;
      border: 0.5px solid white;
      border-radius: 5px;
      overflow: hidden;
      padding: 3px;
      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .tickIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media (max-width: 576px) {
  .UploadImages {
    .wrapper {
      flex-direction: column;
      .groupNote {
        width: 100%;
        height: unset;
      }
      .view {
        width: 100%;
      }
    }
  }
}
