.PostDetailsPage {
  padding: 0;
  .form {
    @media (min-width: 495px) {
      > div {
        width: calc(100% / 2 - 1rem);
      }
    }
  }
}

@media (max-width: 425px) {
  .PostDetailsPage {
    form {
      > div {
        width: 100%;
      }
    }
  }
}
