.ModalCrop {
  max-width: 600px;
  .Cropper {
    height: 300px;
    width: 100%;
  }
  .CroppedImg {
    height: 300px;
    width: 100%;

    .btnCrop {
      margin: 1rem auto;
      background: lightsalmon;
    }

    .view {
      width: 100%;
      height: 200px;
      img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
  }
}
