$gap: 1.5rem;

.PartnerFormPage {
  padding: 0;
  .form {
    $gapChild: $gap / 2;

    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    width: calc(100%);
    padding: 0;
    box-shadow: unset;

    .formLeft,
    .formRight {
      .wrap {
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 3px 6px #3b404533;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 1rem;
      }
    }
    .formRight {
      width: calc(40% - $gapChild);
      float: left;
    }
    .formLeft {
      width: calc(60% - $gapChild);
      display: flex;
      flex-direction: column;
      gap: $gap;
      .wrap {
        > div {
          width: calc(100% / 2 - 1rem);
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .PartnerFormPage {
    .form {
      display: flex;
      flex-direction: column;
      .formLeft,
      .formRight {
        width: 100%;
      }
    }
  }
}
