.BlockFormTitle {
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  .groupTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .title {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1px;
      text-transform: capitalize;
    }
  }
  .groupBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .btn {
      min-width: fit-content;
      font-size: 12px;
      color: white;
    }
    .btnBack {
      min-width: 0;
      padding: 5px;
      box-shadow: unset;
      background-color: unset;
    }
    .btnState {
      box-shadow: unset;
    }
    .publish {
      background-color: #ffcf40c2;
    }
    .draft {
      background-color: #8bc34a;
    }
  }
}

@media (max-width: 575px) {
  .BlockFormTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}
