.ModalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  .title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    line-height: 35px;
  }
}
