.SEOsDetailPage {
  padding: 0;
  .form {
    > div {
      width: calc(100% / 2 - 1rem);
      @media (max-width: 575px) {
        width: 100%;
      }
    }
    .wrapOpenGraph {
      width: 100%;
      .blockOpenGraph {
        .subTitle {
          margin-bottom: 1rem;
          font-weight: 600;
          font-size: 16px;
          text-transform: capitalize;
          letter-spacing: 0.2px;
        }
        .openGraph {
          border-left: 2px solid lightcoral;
          margin-left: 1rem;
          padding-left: 1rem;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 1rem;
          > div {
            width: calc(100% / 2 - 1rem);
            @media (max-width: 575px) {
              width: calc(100% - 1rem);
            }
          }
        }
        .blockOpenGraphImages {
          .images {
            border-left: 2px solid lightseagreen;
            margin-left: 1rem;
            padding-left: 1rem;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            > div {
              width: calc(100% / 2 - 1rem);
              @media (max-width: 575px) {
                width: calc(100% - 1rem);
              }
            }
          }
        }
      }
    }
  }
}
