.listSidebar {
  display: flex;
  gap: 1rem;
  transition: all 235ms ease-in-out;
  flex-direction: column;

  .activeItem {
    color: lightseagreen;
    border-top: 0.5px solid orange;
    transform: translate3d(0, 2px, 0);
    box-shadow: 0 3px 6px #3b404533;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  }

  .item {
    transition: all 235ms ease-in-out;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 235ms ease-in-out;
    background-color: white;

    .short {
      display: none;
    }

    &:hover {
      box-shadow: 0 3px 6px #3b404533;

      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
      color: lightseagreen;
      border-bottom: 0.5px solid lightseagreen;
      margin-bottom: -0.5px;
    }
  }
}

.widen {
  width: fit-content;
  padding: 1rem 8px;
  transition: all 235ms ease-in-out;

  .item {
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: all 235ms ease-in-out;
    padding: 5px;

    .title {
      display: none;
    }

    .short {
      display: flex;
      font-size: 10px;
    }
  }
}
